/*FONTS*/







/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



/*------------------------------Style menu-------------------------------------------- */

.menu {
    display: flex;
    flex-wrap: wrap;
    background-color:white;

    justify-content:space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu ul {
    display: flex;
    
}

.menu ul li a {
    color: #171181;
    padding: 20px;
    display: block; 
    font-size: 18px;
}

.menu img {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    

}

.menu :hover {
    color:#ff0000

}
/*---------titre------------------------------------------------*/

h1 {
    text-align: center;
}

/*--------------------------------banner-------------------------------------*/

.banner {
   width: 100%;
    
    
}

/*-------------------------------BLOCS------------------------------*/

.sobremim {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    max-width: 100%; 
    margin: 0 auto;
    
}

.sobre {
    width: 40%;
}


.bigbox {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    color: #383735;
    text-align: justify;
}


.box {
    width: 45%;
    font-family: 'Dosis', sans-serif;
    
}

/*------- sobre o curso--------------------*/






/*----------------TESTEOFRANCES-----------------*/

.testefrances {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    max-width: 100%; 
    margin: 0 auto;
    
}

.teste {
    width: 40%;
}






@media screen and (max-width: 480px) {
    

    nav, ul {
        flex-direction: column;
        text-align: center;
    }
   
    

    .menu ul li a {
        padding:10px;
    }

    .banner {
        width: 110%;
    }

    .sobre {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 35px;
        text-align: center;
    }

    .teste {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 35px;
        text-align: center;
    }
}